<section id="social-proof" class="flex-column align-center">
  <h2>Welcome to Lords Courtyard</h2>
  <div id="social-proof-set--container" class="flex-column">
    <div class="flex social-proof-set align-center justify-center">
      <img src="/chef-hat-1.svg" alt="" />
      <p>Attention to <span class="hand-written">detail</span></p>
    </div>
    <div class="flex social-proof-set align-center justify-center">
      <img src="/chef-hat-2.svg" alt="" />
      <p>Invest in our <span class="hand-written">staff</span></p>
    </div>
    <div class="flex social-proof-set align-center justify-center">
      <img src="/chef-hat-3.svg" alt="" />
      <p>Amazing <span class="hand-written">chefs</span></p>
    </div>
  </div>
</section>

<style>
  #social-proof {
    margin: var(--space-lg) 0;
  }

  #social-proof-set--container {
    margin: var(--space-md) 0;
    gap: var(--space-md);
    width: 100%;
  }

  .social-proof-set {
    gap: var(--space-md);
  }

  .social-proof-set img {
    width: 5.8rem;

  }

  @media only screen and (min-width:769px) {
   #social-proof-set--container {
    flex-direction: row;
    justify-content: space-between;
   }
   
    .social-proof-set {
      flex-direction: column;
      gap: var(--space-sm);
    }
    
    .social-proof-set img {
        width: 12rem;
    }
}

  @media only screen and (min-width: 1200px) {
    .social-proof-set {
    gap: var(--space-lg);
  }
    .social-proof-set img {
        width: 20rem;
    }
  }
</style>
